*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

$primary-color: #199eb8;
$secondary-color: #e04f00;

.preheader{
    background-image: url("../images/cover.jpg");
    background-size: cover; 

    .overlay{
        background-color: rgba(0, 0, 0, 0.5);
        background-size: cover;
        padding-bottom: 100px;
        padding-top: 100px;

        text-align: center;

        h1{
            color: white;
            font-size: 40px;
            padding-top: 150px;
            padding-bottom: 100px;
        }

        h5{
            color: white;
            font-size: 25px;
            padding-bottom: 150px;
        }

        a{
            text-decoration: none;
            padding: 25px;
            border-radius: 50px;
            background-color: $primary-color;
            color:white;
            font-size: 20px;
            font-weight: bold;
            
            &:hover{
                background-color: $secondary-color;
                transition: 0.3s;
            }
        }
    }
}

header{
    background-color: $primary-color;

    img{
        padding-top: 30px;
    }

    ul{
        padding-top: 25px;
        li{
            list-style: none;
            display: inline-block;
            padding: 15px;

            .button-nav{
                text-decoration: none;
                color: white;
                font-size: 22px;
                
                &:hover{
                    color: $secondary-color;
                    transition: 0.3s;
                }
            }

            .button-media{
                color:white;
                font-size: 35px;

                &:hover{
                    color: $secondary-color;
                    transition: 0.3s;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    background-color: $primary-color;
    width: 100%;
    top: 0;
    z-index: 100;
}

.about{
    padding-top: 50px;
    padding-bottom: 120px;

    h1{
        text-align: center;
        padding-top: 100px;
        color: $primary-color;
    }
    h5{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .circle{
        border-radius: 50%;
        background-color: $primary-color;
        width: 200px;
        height: 200px;

        display: grid;
        place-items: center;

        margin-left: 52px;

        .circle2{
            background-color: white;
            border-radius: 50%;
            width: 180px;
            height: 180px;
            

            p{
                text-align: center;
                font-size: 23px;
            }

            .circle3{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $secondary-color; 
                margin-top: -35px;
                margin-left: 105px;


                p{
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 30px;
                }
            }
        }
    }
}

.hero{
    background-image: url(../images/parallax-bg.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    h1{
        text-transform: uppercase;
        color: white;
        padding-bottom: 50px;
    }
    
    h5{
        color: white;
        font-size: 25px;
        padding-bottom: 50px;
    }

    .icon{
        padding: 1px;
    }
}

.features{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;

    h1{
        color: $primary-color;
        padding-bottom: 80px;
    }

    h3{
        color: $primary-color;
        padding-top: 20px;
    }

    p{
        padding-top: 10px;
    }

    .circle-features{
        width: 100px;
        height: 100px;
        background-color: $primary-color;
        border-radius: 50%;
        margin-left: 160px;
        display: grid;

        p{
            font-size: 50px;
            place-items: center;
            color: white;
        }
    }
}

.call{
    background-color: $primary-color;
    padding-top:30px;
    padding-bottom:30px;

    h1{
        color: white;
        padding-left: 80px;
        padding-bottom: 10px;
    }
    p{
        color:white;
        padding-left: 80px;
    }

    .call-button{
        margin-top: 15px;
        padding: 20px;
        background-color: $primary-color;
        color: white;
        border: 5px solid white;
        font-size: 25px;
        border-radius: 50px 50px;
        font-weight: bold;

        &:hover{
            background-color: white;
            color: $primary-color;
            transition: 0.3s;
        }
    }
}

.portfolio{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;

    h1{
        color: $primary-color;
        padding-bottom: 50px;
    }

    h5{
        padding-bottom: 50px;
    }

    .slider{
        max-width: 100rem;
        height: 30rem;
        margin: 0 auto;
        
        position: relative;

        overflow: hidden;

        .slide{
            position: absolute;
            top: 0;
            width: 100%;
            height: 30rem;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            transition: transform 1s;
        }

        .slide > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .slider-button{
            position: absolute;
            top: 50%;
    
            border: none;
            width: 80px;
            height: 80px;
            cursor: pointer;
            border-radius: 50%;
            color: #333;
            background-color: rgba(255, 255, 255, 0.6);
            font-size: 45px;
    
        }
    
        .slider-button-left{
            left: 4%;
            transform: translate(-50%, -50%);
        }
    
        .slider-button-right{
            right: 4%;
            transform: translate(50%, -50%);
        }
    }
    .dots {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
      
      .dots_dot {
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        margin-right: 1.75rem;
        cursor: pointer;
        transition: all 0.5s;
      }
      
      .dots_dot:last-child {
        margin: 0;
      }
      
      .dots_dot-active {
        background-color: white;
        opacity: 1;
      }

}

.team{
    padding-top: 120px;
    padding-bottom: 300px;
    text-align: center;

    h1{
        color: $primary-color;
        padding-bottom: 50px;
        padding-top: 100px;
    }

    .icon{
        padding: 0;
        position: relative;

        img{
            width: 100%;
            height: 100%;
        }

        .overlay-team, .overlay-team-two, .overlay-team-three, .overlay-team-four{
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p{
                color:white;
                text-transform: uppercase;
                font-size: 24px;
                padding-top: 20px
            }

            ul{
                li{
                    list-style: none;
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color: white;
                        padding: 10px;
                        font-size: 25px;

                        &:hover{
                            color: $primary-color;
                            transition: 0.3s;
                        }
                    }
                }
            }

            .text{
                color: whitesmoke;
                font-size: 15px;
                text-transform: inherit;
            }
        }

        .hidden-team, .hidden-team-two, .hidden-team-three, .hidden-team-four{
            display: none;
        }

    }

    .words{
        background-color: white;
        
        h2{
            color:black;
            padding-top: 10px;
            font-style: italic;
        }

        h4{
            color: black;
            padding-bottom: 10px;
            font-style: italic;
        }
    }

}

.contact{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color: whitesmoke;

    h1{
        color: $primary-color;
        padding-bottom: 80px;
    }

    p{
        color: $primary-color;
        font-size: 50px;

        span{
            font-size: 21px;
            color: black;
            padding-left: 20px;
        }
    }

    form{

        padding-bottom: 20px;

        input{
            background-color: white;
            padding: 10px;
            height: 40px;
            width: 100%;
            border: 0;
            outline: none;
            margin-bottom: 15px;
            border: 3px solid $primary-color;
        }

        textarea{
            display: block;
            background-color: white;
            height: 200px;
            width: 100%;
            border: 0;
            outline: none;
            margin-bottom: 15px;
            padding: 10px;
            border: 3px solid $primary-color;
        }
    }

    a{
        padding: 15px;
        background-color: $primary-color;
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover{
            color: white;
            background-color: #29c3e2;
            transition: 0.3s;
        }
    }


}

footer{
    background-color: rgb(32, 32, 32);
    background-size: cover;

    ul{
        padding-top: 20px;
        li{
            list-style: none;
            display: inline-block;
            padding: 15px;

            .button-media{
                font-size: 35px;
                color: white;

                &:hover{
                    color: $primary-color;
                    transition: 0.3s;
                }
            }

            .button-nav{
                color:white;
                font-size: 22px;
                text-decoration: none;

                &:hover{
                    color: $primary-color;
                    transition: 0.3s;
                }
            }
        }
    }
}